* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(243, 243, 243);
  margin: 0;
  padding: 0;
  display: block;
}

.instagram-wrapper {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: start;
  width: 100%;
  max-width: 60rem;
  height: 80vh;
}

.instagram-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.instagram-left img {
  height: 43rem;
}

.instagram-right {
  display: flex;
  align-items: center; /* agora na vertical*/
  justify-content: space-around; /*agora horizontal*/
  flex-direction: column; /*por causa da coluna tudo inverte*/
  width: 50%;
  min-height: 34rem;
}

.group {
  display: flex;
  align-items: center; /* agora na vertical*/
  justify-content: space-around; /*agora horizontal*/
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  padding: 1.3rem 0;
  margin-bottom: 0.8rem;
  border: 1px solid lightgray;
}

.group:nth-child(1) {
  min-height: 22rem;
}

.instagram-logo {
  height: 3.5rem;
  margin: 1rem 0;
}

.profile-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.profile-photo img {
  height: 6rem;
}

.instagram-login {
  background-color: #0095f6;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
}

.instagram-logout {
  color: #0095f6;
  margin-top: 1rem;
}

.not-account {
  color: rgb(160, 160, 160);
}

.link-account {
  color: #0095f6;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: rgba(85, 85, 85, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.popupNotAccount {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popupNotAccount .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: rgba(85, 85, 85, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -45px;
}

/* Toggle this class - hide and show the popup */
.popupNotAccount .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}

.download {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.app-download {
  height: 3rem;
  width: 10rem;
  background-size: cover;
  border-radius: 5px;
  margin: 0 0.5rem;
}

.app-download:nth-child(1) {
  background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
  background-image: url('./img/googleplay-button.png');
}

footer {
  padding: 0 1rem 3.25rem 1rem;
}

.lines {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;
}

.lines a {
  color: #8e8e8e;
  padding: 0 0.5rem;
  line-height: 1.5rem;
  font-size: 12px;
}

.infos {
  display: flex;
  padding: 1rem 0;
  justify-content: center;
  color: #8e8e8e;
}

#language > select {
  background-color: transparent;
  border: none;
  font-size: 12px;
}

#line-infos span {
  margin-left: 1rem;
  font-size: 12px;
}

@media (max-widht: 1024px) {
  .instagram-wrapper {
    width: 90%;
  }
}

@media (max-width: 874px) {
  body {
    background-color: #ffffff;
  }

  .group {
    border: 1px solid transparent;
  }

  .instagram-wrapper {
    width: 90%;
  }

  .instagram-left {
    display: none;
  }

  .instagram-right {
    width: 100%;
  }
}
